.Stopwatch-main {
  padding: 50px;
  margin: 50px;
}

.Stopwatch-sectionHeader {
  font-size: 40px;
  margin: 0;
}

.Stopwatch-stopwatchDisplay {
  font-size: 150px;
}

.Stopwatch-studyRecords-section {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

.Stopwatch-saveRecordsForm {
  text-align: center;
}

.Stopwatch-saveRecordsForm h3,
.Stopwatch-saveRecordsForm-buttonDiv {
  margin: 0;
  padding: 30px;
  background-color: #ff5555;
}

.Stopwatch-saveRecordsForm-inputDiv {
  padding: 150px 0;
}

.Stopwatch-button {
  display: inline-block;
  border: none;
  width: 100px;
  height: 50px;
}

.Stopwatch-background-blue {
  color: #fefefe;
  background-color: #008fff;
}

.Stopwatch-background-white {
  color: #070707;
  background-color: #fefefe;
}

.Stopwatch-table {
  table-layout: fixed;
  width: 100%;
}

.Stopwatch-table thead th:nth-child(1) {
  width: 10%;
}

.Stopwatch-table thead th:nth-child(2) {
  width: 45%;
}

.Stopwatch-table thead th:nth-child(3) {
  width: 45%;
}
