.Nav {
  position: relative;
  font-size: 1.5rem;
}

@media screen and (max-width: 599px) {
  .Nav {
    position: absolute;
    top: 80px;
    z-index: 1;
    width: 200px;
    height: calc(100vh - 80px);
    background-color: white;
  }
}

.Nav ul {
  position: sticky;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
}

.Nav.srOnly ul {
  top: 0px;
}

.Nav li {
  width: 100%;
}

.Nav-menuDivCover {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 2;
}

.Nav-menuDivCover .Nav-dummyDiv {
  margin-left: 10px;
  padding-left: 10px;
}

.Nav-link {
  display: inline-block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: black;
  text-decoration: none;
}

.Nav-link:hover {
  background-color: #00ffff;
}
