/* layout rules start */
.App {
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 1fr;
  text-align: center;
  row-gap: 30px;
}

.App-menuOpened {
  grid-template-columns: 200px 1fr;
}

@media screen and (max-width: 599px) {
  .App-menuOpened {
    grid-template-columns: 1fr;
  }
}

header {
  grid-row: 1;
}

nav {
  grid-row: 2;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
  grid-column: span 2;
}
/* layout rules end */

/* text-align rules start */
.textAlign-right {
  text-align: right;
}
/* text-align rules end */

/* srOnly rule start */
.srOnly {
  position: absolute !important;
  border: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
/* srOnly rule end */

/* background-color rules start */
.primary {
  background-color: #00ffff;
}
/* background-color rules end */

/* font-color rules start */
.color-white {
  color: #fefefe;
}
/* font-color rules end */

/* elements rules start */
.button {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  width: 120px;
  height: 50px;
  border: 0;
  padding: 0;
}

.button:hover {
  cursor: pointer;
}
/* elements rules end */
