.App {
  display: grid;
  grid-template-rows: 80px 1fr 80px;
  text-align: center;
  row-gap: 30px;
}

.App-menuOpened {
  grid-template-columns: 200px 1fr;
}

@media screen and (max-width: 599px) {
  .App-menuOpened {
    grid-template-columns: 1fr;
  }
}

header {
  grid-row: 1;
}

nav {
  grid-row: 2;
}

main {
  grid-row: 2;
}

main.test {
  grid-column: 2;
}

footer {
  grid-row: 3;
}

.textAlign-right {
  text-align: right;
}

.srOnly {
  position: absolute !important;
  border: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.primary {
  background-color: #00ffff;
}

.button {
  border: 0;
}
